<section>
  <h2><%= texts.howto.h %></h2>
  <div class="texts"><%= texts.howto.c %></div>
</section>
<section>
  <h2><%= texts.indexes.h %></h2>
  <ul class="b-category-list">
    <% _.forEach(categories, function(category) { %><!--
    --><% if (category.isDummy) { %><!--
    --><li><a href="#" class="b-anchor-btn m-btn-dummy">&nbsp;</a></li><!--
    --><% } else { %><!--
    --><li><a href="#list/ctg/<%= category.key %>" class="b-anchor-btn"><%= category.label %></a></li><!--
    --><% } %><!--
    --><% }) %>
  </ul>
</section>
<section>
  <h2><%= texts.list.h %></h2>
  <a class="b-anchor-btn m-no-margin" href="#list"><%= titles.list %></a>
</section>

<a class="b-anchor-btn m-btn-sub m-about-site" href="#about"><div class="b-monster-icon m-icon-id-0"></div><%= titles.about %></a>
