.icon-c1::before   { background-position:    1px     1px; }
.icon-c2::before   { background-position:  -37px     1px; }
.icon-c3::before   { background-position:  -75px     1px; }
.icon-c4::before   { background-position: -645px -1025px; }
.icon-c5::before   { background-position: -113px     1px; }
.icon-c6::before   { background-position: -151px     1px; }
.icon-c7::before   { background-position: -189px     1px; }
.icon-c8::before   { background-position: -683px -1025px; }
.icon-c9::before   { background-position: -721px -1025px; }
.icon-c10::before  { background-position: -227px     1px; }
.icon-c11::before  { background-position: -265px     1px; }
.icon-c12::before  { background-position: -303px     1px; }
.icon-c13::before  { background-position: -759px -1025px; }
.icon-c14::before  { background-position: -341px     1px; }
.icon-c15::before  { background-position: -379px     1px; }
.icon-c16::before  { background-position: -417px     1px; }
.icon-c17::before  { background-position: -455px     1px; }
.icon-c18::before  { background-position: -493px     1px; }
.icon-c19::before  { background-position: -531px     1px; }
.icon-c20::before  { background-position: -569px     1px; }
.icon-c21::before  { background-position: -607px     1px; }
.icon-c22::before  { background-position: -645px     1px; }
.icon-c23::before  { background-position: -683px     1px; }
.icon-c24::before  { background-position: -721px     1px; }
.icon-c25::before  { background-position: -759px     1px; }
.icon-c26::before  { background-position: -797px     1px; }
.icon-c27::before  { background-position: -835px     1px; }
.icon-c28::before  { background-position: -873px     1px; }
.icon-c29::before  { background-position: -911px     1px; }
.icon-c30::before  { background-position: -949px     1px; }
.icon-c31::before  { background-position:    1px   -37px; }
.icon-c32::before  { background-position:  -37px   -37px; }
.icon-c33::before  { background-position:  -75px   -37px; }
.icon-c34::before  { background-position: -113px   -37px; }
.icon-c35::before  { background-position: -151px   -37px; }
.icon-c36::before  { background-position: -189px   -37px; }
.icon-c37::before  { background-position: -227px   -37px; }
.icon-c38::before  { background-position: -265px   -37px; }
.icon-c39::before  { background-position: -303px   -37px; }
.icon-c40::before  { background-position: -341px   -37px; }
.icon-c41::before  { background-position: -379px   -37px; }
.icon-c42::before  { background-position: -417px   -37px; }
.icon-c43::before  { background-position: -455px   -37px; }
.icon-c44::before  { background-position: -493px   -37px; }
.icon-c45::before  { background-position: -531px   -37px; }
.icon-c46::before  { background-position: -569px   -37px; }
.icon-c47::before  { background-position: -607px   -37px; }
.icon-c48::before  { background-position: -645px   -37px; }
.icon-c49::before  { background-position: -683px   -37px; }
.icon-c50::before  { background-position: -721px   -37px; }
.icon-c51::before  { background-position: -759px   -37px; }
.icon-c52::before  { background-position: -797px   -37px; }
.icon-c53::before  { background-position: -835px   -37px; }
.icon-c54::before  { background-position: -873px   -37px; }
.icon-c55::before  { background-position: -911px   -37px; }
.icon-c56::before  { background-position: -949px   -37px; }
.icon-c57::before  { background-position:    1px   -75px; }
.icon-c58::before  { background-position:  -37px   -75px; }
.icon-c59::before  { background-position:  -75px   -75px; }
.icon-c60::before  { background-position: -113px   -75px; }
.icon-c61::before  { background-position: -151px   -75px; }
.icon-c62::before  { background-position: -189px   -75px; }
.icon-c63::before  { background-position: -227px   -75px; }
.icon-c64::before  { background-position: -265px   -75px; }
.icon-c65::before  { background-position: -303px   -75px; }
.icon-c66::before  { background-position: -341px   -75px; }
.icon-c67::before  { background-position: -379px   -75px; }
.icon-c68::before  { background-position: -417px   -75px; }
.icon-c69::before  { background-position: -455px   -75px; }
.icon-c70::before  { background-position: -797px -1025px; }
.icon-c71::before  { background-position: -493px   -75px; }
.icon-c72::before  { background-position: -531px   -75px; }
.icon-c73::before  { background-position: -569px   -75px; }
.icon-c74::before  { background-position: -607px   -75px; }
.icon-c75::before  { background-position: -645px   -75px; }
.icon-c76::before  { background-position: -683px   -75px; }
.icon-c77::before  { background-position: -721px   -75px; }
.icon-c78::before  { background-position: -759px   -75px; }
.icon-c79::before  { background-position: -797px   -75px; }
.icon-c80::before  { background-position: -835px   -75px; }
.icon-c81::before  { background-position: -873px   -75px; }
.icon-c82::before  { background-position: -911px   -75px; }
.icon-c83::before  { background-position: -949px   -75px; }
.icon-c84::before  { background-position:    1px  -113px; }
.icon-c85::before  { background-position:  -37px  -113px; }
.icon-c86::before  { background-position:  -75px  -113px; }
.icon-c87::before  { background-position: -113px  -113px; }
.icon-c88::before  { background-position: -151px  -113px; }
.icon-c89::before  { background-position: -189px  -113px; }
.icon-c90::before  { background-position: -227px  -113px; }
.icon-c91::before  { background-position: -265px  -113px; }
.icon-c92::before  { background-position: -303px  -113px; }
.icon-c93::before  { background-position: -341px  -113px; }
.icon-c94::before  { background-position: -379px  -113px; }
.icon-c95::before  { background-position: -379px  -113px; }
.icon-c96::before  { background-position: -417px  -113px; }
.icon-c97::before  { background-position: -455px  -113px; }
.icon-c98::before  { background-position: -493px  -113px; }
.icon-c99::before  { background-position: -531px  -113px; }
.icon-c100::before { background-position: -835px -1025px; }
.icon-c101::before { background-position: -607px  -113px; }
.icon-c102::before { background-position: -645px  -113px; }
.icon-c103::before { background-position: -683px  -113px; }
.icon-c104::before { background-position: -721px  -113px; }
.icon-c105::before { background-position: -759px  -113px; }
.icon-c106::before { background-position: -797px  -113px; }
.icon-c107::before { background-position: -835px  -113px; }
.icon-c108::before { background-position: -873px  -113px; }
.icon-c109::before { background-position: -911px  -113px; }
.icon-c110::before { background-position: -949px  -113px; }
.icon-c111::before { background-position:    1px  -151px; }
.icon-c112::before { background-position:  -37px  -151px; }
.icon-c113::before { background-position:  -75px  -151px; }
.icon-c114::before { background-position: -113px  -151px; }
.icon-c115::before { background-position: -151px  -151px; }
.icon-c116::before { background-position: -189px  -151px; }
.icon-c117::before { background-position: -227px  -151px; }
.icon-c118::before { background-position: -265px  -151px; }
.icon-c119::before { background-position: -303px  -151px; }
.icon-c120::before { background-position: -341px  -151px; }
.icon-c121::before { background-position: -379px  -151px; }
.icon-c122::before { background-position: -873px -1025px; }
.icon-c123::before { background-position: -417px  -151px; }
.icon-c124::before { background-position: -455px  -151px; }
.icon-c125::before { background-position: -493px  -151px; }
.icon-c126::before { background-position: -531px  -151px; }
.icon-c127::before { background-position: -569px  -151px; }
.icon-c128::before { background-position: -645px  -151px; }
.icon-c129::before { background-position: -645px  -151px; }
.icon-c130::before { background-position: -683px  -151px; }
.icon-c131::before { background-position: -721px  -151px; }
.icon-c132::before { background-position: -759px  -151px; }
.icon-c133::before { background-position: -797px  -151px; }
.icon-c134::before { background-position: -835px  -151px; }
.icon-c135::before { background-position: -911px -1025px; }
.icon-c136::before { background-position: -873px  -151px; }
.icon-c137::before { background-position: -911px  -151px; }
.icon-c138::before { background-position: -949px  -151px; }
.icon-c139::before { background-position: -949px -1025px; }
.icon-c140::before { background-position:    1px  -189px; }
.icon-c141::before { background-position:  -37px  -189px; }
.icon-c142::before { background-position:  -75px  -189px; }
.icon-c143::before { background-position: -113px  -189px; }
.icon-c144::before { background-position: -151px  -189px; }
.icon-c145::before { background-position: -189px  -189px; }
.icon-c146::before { background-position: -227px  -189px; }
.icon-c147::before { background-position: -265px  -189px; }
.icon-c148::before { background-position: -303px  -189px; }
.icon-c149::before { background-position: -341px  -189px; }
.icon-c150::before { background-position: -379px  -189px; }
.icon-c151::before { background-position: -417px  -189px; }
.icon-c152::before { background-position:    1px -1063px; }
.icon-c153::before { background-position: -455px  -189px; }
.icon-c154::before { background-position: -493px  -189px; }
.icon-c155::before { background-position: -531px  -189px; }
.icon-c156::before { background-position: -569px  -189px; }
.icon-c157::before { background-position: -607px  -189px; }
.icon-c158::before { background-position: -645px  -189px; }
.icon-c159::before { background-position: -683px  -189px; }
.icon-c160::before { background-position: -721px  -189px; }
.icon-c161::before { background-position:  -37px -1063px; }
.icon-c162::before { background-position:  -75px -1063px; }
.icon-c163::before { background-position: -759px  -189px; }
.icon-c164::before { background-position: -797px  -189px; }
.icon-c165::before { background-position: -835px  -189px; }
.icon-c166::before { background-position: -873px  -189px; }
.icon-c167::before { background-position: -911px  -189px; }
.icon-c168::before { background-position: -949px  -189px; }
.icon-c169::before { background-position:    1px  -227px; }
.icon-c170::before { background-position:  -37px  -227px; }
.icon-c171::before { background-position:  -75px  -227px; }
.icon-c172::before { background-position: -113px  -227px; }
.icon-c173::before { background-position: -151px  -227px; }
.icon-c174::before { background-position: -189px  -227px; }
.icon-c175::before { background-position: -227px  -227px; }
.icon-c176::before { background-position: -265px  -227px; }
.icon-c177::before { background-position: -303px  -227px; }
.icon-c178::before { background-position: -341px  -227px; }
.icon-c179::before { background-position: -379px  -227px; }
.icon-c180::before { background-position: -417px  -227px; }
.icon-c181::before { background-position: -455px  -227px; }
.icon-c182::before { background-position: -493px  -227px; }
.icon-c183::before { background-position: -531px  -227px; }
.icon-c184::before { background-position: -569px  -227px; }
.icon-c185::before { background-position: -607px  -227px; }
.icon-c186::before { background-position: -645px  -227px; }
.icon-c187::before { background-position: -683px  -227px; }
.icon-c188::before { background-position: -721px  -227px; }
.icon-c189::before { background-position: -759px  -227px; }
.icon-c190::before { background-position: -797px  -227px; }
.icon-c191::before { background-position: -835px  -227px; }
.icon-c192::before { background-position: -873px  -227px; }
.icon-c193::before { background-position: -911px  -227px; }
.icon-c194::before { background-position: -113px -1063px; }
.icon-c195::before { background-position: -949px  -227px; }
.icon-c196::before { background-position:    1px  -265px; }
.icon-c197::before { background-position:  -37px  -265px; }
.icon-c198::before { background-position:  -75px  -265px; }
.icon-c199::before { background-position: -113px  -265px; }
.icon-c200::before { background-position: -151px  -265px; }
.icon-c201::before { background-position: -189px  -265px; }
.icon-c202::before { background-position: -227px  -265px; }
.icon-c203::before { background-position: -265px  -265px; }
.icon-c204::before { background-position: -303px  -265px; }
.icon-c205::before { background-position: -341px  -265px; }
.icon-c206::before { background-position: -379px  -265px; }
.icon-c207::before { background-position: -417px  -265px; }
.icon-c208::before { background-position: -455px  -265px; }
.icon-c209::before { background-position: -493px  -265px; }
.icon-c210::before { background-position: -531px  -265px; }
.icon-c211::before { background-position: -569px  -265px; }
.icon-c212::before { background-position: -607px  -265px; }
.icon-c213::before { background-position: -645px  -265px; }
.icon-c214::before { background-position: -683px  -265px; }
.icon-c215::before { background-position: -721px  -265px; }
.icon-c216::before { background-position: -759px  -265px; }
.icon-c217::before { background-position: -797px  -265px; }
.icon-c218::before { background-position: -835px  -265px; }
.icon-c219::before { background-position: -873px  -265px; }
.icon-c220::before { background-position: -911px  -265px; }
.icon-c221::before { background-position: -949px  -265px; }
.icon-c222::before { background-position:    1px  -303px; }
.icon-c223::before { background-position:  -37px  -303px; }
.icon-c224::before { background-position:  -75px  -303px; }
.icon-c225::before { background-position: -113px  -303px; }
.icon-c226::before { background-position: -151px -1063px; }
.icon-c227::before { background-position: -151px  -303px; }
.icon-c228::before { background-position: -189px  -303px; }
.icon-c229::before { background-position: -189px -1063px; }
.icon-c230::before { background-position: -227px  -303px; }
.icon-c231::before { background-position: -265px  -303px; }
.icon-c232::before { background-position: -303px  -303px; }
.icon-c233::before { background-position: -341px  -303px; }
.icon-c234::before { background-position: -379px  -303px; }
.icon-c235::before { background-position: -417px  -303px; }
.icon-c236::before { background-position: -455px  -303px; }
.icon-c237::before { background-position: -493px  -303px; }
.icon-c238::before { background-position: -531px  -303px; }
.icon-c239::before { background-position: -569px  -303px; }
.icon-c240::before { background-position: -607px  -303px; }
.icon-c241::before { background-position: -645px  -303px; }
.icon-c242::before { background-position: -683px  -303px; }
.icon-c243::before { background-position: -721px  -303px; }
.icon-c244::before { background-position: -759px  -303px; }
.icon-c245::before { background-position: -227px -1063px; }
.icon-c246::before { background-position: -797px  -303px; }
.icon-c247::before { background-position: -835px  -303px; }
.icon-c248::before { background-position: -873px  -303px; }
.icon-c249::before { background-position: -911px  -303px; }
.icon-c250::before { background-position: -949px  -303px; }
.icon-c251::before { background-position:    1px  -341px; }
.icon-c252::before { background-position:  -37px  -341px; }
.icon-c253::before { background-position:  -75px  -341px; }
.icon-c254::before { background-position: -113px  -341px; }
.icon-c255::before { background-position: -151px  -341px; }
.icon-c256::before { background-position: -189px  -341px; }
.icon-c257::before { background-position: -227px  -341px; }
.icon-c258::before { background-position: -265px  -341px; }
.icon-c259::before { background-position: -303px  -341px; }
.icon-c260::before { background-position: -341px  -341px; }
.icon-c261::before { background-position: -379px  -341px; }
.icon-c262::before { background-position: -417px  -341px; }
.icon-c263::before { background-position: -455px  -341px; }
.icon-c264::before { background-position: -493px  -341px; }
.icon-c265::before { background-position: -265px -1063px; }
.icon-c266::before { background-position: -531px  -341px; }
.icon-c267::before { background-position: -569px  -341px; }
.icon-c268::before { background-position: -607px  -341px; }
.icon-c269::before { background-position: -645px  -341px; }
.icon-c270::before { background-position: -683px  -341px; }
.icon-c271::before { background-position: -721px  -341px; }
.icon-c272::before { background-position: -759px  -341px; }
.icon-c273::before { background-position: -797px  -341px; }
.icon-c274::before { background-position: -835px  -341px; }
.icon-c275::before { background-position: -303px -1063px; }
.icon-c276::before { background-position: -873px  -341px; }
.icon-c277::before { background-position: -911px  -341px; }
.icon-c278::before { background-position: -949px  -341px; }
.icon-c279::before { background-position:    1px  -379px; }
.icon-c280::before { background-position:  -37px  -379px; }
.icon-c281::before { background-position:  -75px  -379px; }
.icon-c282::before { background-position: -113px  -379px; }
.icon-c283::before { background-position: -151px  -379px; }
.icon-c284::before { background-position: -189px  -379px; }
.icon-c285::before { background-position: -227px  -379px; }
.icon-c286::before { background-position: -265px  -379px; }
.icon-c287::before { background-position: -303px  -379px; }
.icon-c288::before { background-position: -341px  -379px; }
.icon-c289::before { background-position: -379px  -379px; }
.icon-c290::before { background-position: -417px  -379px; }
.icon-c291::before { background-position: -455px  -379px; }
.icon-c292::before { background-position: -493px  -379px; }
.icon-c293::before { background-position: -531px  -379px; }
.icon-c294::before { background-position: -569px  -379px; }
.icon-c295::before { background-position: -607px  -379px; }
.icon-c296::before { background-position: -645px  -379px; }
.icon-c297::before { background-position: -683px  -379px; }
.icon-c298::before { background-position: -721px  -379px; }
.icon-c299::before { background-position: -759px  -379px; }
.icon-c300::before { background-position: -797px  -379px; }
.icon-c301::before { background-position: -341px -1063px; }
.icon-c302::before { background-position: -835px  -379px; }
.icon-c303::before { background-position: -873px  -379px; }
.icon-c304::before { background-position: -911px  -379px; }
.icon-c305::before { background-position: -949px  -379px; }
.icon-c306::before { background-position:    1px  -417px; }
.icon-c307::before { background-position:  -37px  -417px; }
.icon-c308::before { background-position:  -75px  -417px; }
.icon-c309::before { background-position: -113px  -417px; }
.icon-c310::before { background-position: -151px  -417px; }
.icon-c311::before { background-position: -189px  -417px; }
.icon-c312::before { background-position: -227px  -417px; }
.icon-c313::before { background-position: -265px  -417px; }
.icon-c314::before { background-position: -303px  -417px; }
.icon-c315::before { background-position: -341px  -417px; }
.icon-c316::before { background-position: -379px  -417px; }
.icon-c317::before { background-position: -417px  -417px; }
.icon-c318::before { background-position: -455px  -417px; }
.icon-c319::before { background-position: -493px  -417px; }
.icon-c320::before { background-position: -531px  -417px; }
.icon-c321::before { background-position: -569px  -417px; }
.icon-c322::before { background-position: -607px  -417px; }
.icon-c323::before { background-position: -379px -1063px; }
.icon-c324::before { background-position: -645px  -417px; }
.icon-c325::before { background-position: -683px  -417px; }
.icon-c326::before { background-position: -721px  -417px; }
.icon-c327::before { background-position: -417px -1063px; }
.icon-c328::before { background-position: -759px  -417px; }
.icon-c329::before { background-position: -797px  -417px; }
.icon-c330::before { background-position: -455px -1063px; }
.icon-c331::before { background-position: -835px  -417px; }
.icon-c332::before { background-position: -873px  -417px; }
.icon-c333::before { background-position: -493px -1063px; }
.icon-c334::before { background-position: -911px  -417px; }
.icon-c335::before { background-position: -949px  -417px; }
.icon-c336::before { background-position:    1px  -455px; }
.icon-c337::before { background-position:  -37px  -455px; }
.icon-c338::before { background-position: -531px -1063px; }
.icon-c339::before { background-position: -113px  -455px; }
.icon-c340::before { background-position: -151px  -455px; }
.icon-c341::before { background-position: -189px  -455px; }
.icon-c342::before { background-position: -227px  -455px; }
.icon-c343::before { background-position: -265px  -455px; }
.icon-c344::before { background-position: -303px  -455px; }
.icon-c345::before { background-position: -341px  -455px; }
.icon-c346::before { background-position: -379px  -455px; }
.icon-c347::before { background-position: -417px  -455px; }
.icon-c348::before { background-position: -455px  -455px; }
.icon-c349::before { background-position: -493px  -455px; }
.icon-c350::before { background-position: -531px  -455px; }
.icon-c351::before { background-position: -569px  -455px; }
.icon-c352::before { background-position: -607px  -455px; }
.icon-c353::before { background-position: -645px  -455px; }
.icon-c354::before { background-position: -683px  -455px; }
.icon-c355::before { background-position: -721px  -455px; }
.icon-c356::before { background-position: -759px  -455px; }
.icon-c357::before { background-position: -797px  -455px; }
.icon-c358::before { background-position: -835px  -455px; }
.icon-c359::before { background-position: -873px  -455px; }
.icon-c360::before { background-position: -911px  -455px; }
.icon-c361::before { background-position: -949px  -455px; }
.icon-c362::before { background-position:    1px  -493px; }
.icon-c363::before { background-position:  -37px  -493px; }
.icon-c364::before { background-position:  -75px  -493px; }
.icon-c365::before { background-position: -113px  -493px; }
.icon-c366::before { background-position: -151px  -493px; }
.icon-c367::before { background-position: -189px  -493px; }
.icon-c368::before { background-position: -227px  -493px; }
.icon-c369::before { background-position: -265px  -493px; }
.icon-c370::before { background-position: -303px  -493px; }
.icon-c371::before { background-position: -341px  -493px; }
.icon-c372::before { background-position: -379px  -493px; }
.icon-c373::before { background-position: -417px  -493px; }
.icon-c374::before { background-position: -455px  -493px; }
.icon-c375::before { background-position: -493px  -493px; }
.icon-c376::before { background-position: -531px  -493px; }
.icon-c377::before { background-position: -569px  -493px; }
.icon-c378::before { background-position: -531px -1063px; }
.icon-c379::before { background-position: -607px  -493px; }
.icon-c380::before { background-position: -645px  -493px; }
.icon-c381::before { background-position: -683px  -493px; }
.icon-c382::before { background-position: -721px  -493px; }
.icon-c383::before { background-position: -759px  -493px; }
.icon-c384::before { background-position: -569px -1063px; }
.icon-c385::before { background-position: -797px  -493px; }
.icon-c386::before { background-position: -835px  -493px; }
.icon-c387::before { background-position: -873px  -493px; }
.icon-c388::before { background-position: -911px  -493px; }
.icon-c389::before { background-position: -949px  -493px; }
.icon-c390::before { background-position:    1px  -531px; }
.icon-c391::before { background-position:  -37px  -531px; }
.icon-c392::before { background-position:  -75px  -531px; }
.icon-c393::before { background-position: -113px  -531px; }
.icon-c394::before { background-position: -151px  -531px; }
.icon-c395::before { background-position: -189px  -531px; }
.icon-c396::before { background-position: -227px  -531px; }
.icon-c397::before { background-position: -265px  -531px; }
.icon-c398::before { background-position: -303px  -531px; }
.icon-c399::before { background-position: -341px  -531px; }
.icon-c400::before { background-position: -379px  -531px; }
.icon-c401::before { background-position: -417px  -531px; }
.icon-c402::before { background-position: -455px  -531px; }
.icon-c403::before { background-position: -493px  -531px; }
.icon-c404::before { background-position: -531px  -531px; }
.icon-c405::before { background-position: -569px  -531px; }
.icon-c406::before { background-position: -607px  -531px; }
.icon-c407::before { background-position: -645px  -531px; }
.icon-c408::before { background-position: -683px  -531px; }
.icon-c409::before { background-position: -721px  -531px; }
.icon-c410::before { background-position: -759px  -531px; }
.icon-c411::before { background-position: -797px  -531px; }
.icon-c412::before { background-position: -797px  -531px; }
.icon-c413::before { background-position: -797px  -531px; }
.icon-c414::before { background-position: -797px  -531px; }
.icon-c415::before { background-position: -835px  -531px; }
.icon-c416::before { background-position: -873px  -531px; }
.icon-c417::before { background-position: -911px  -531px; }
.icon-c418::before { background-position: -949px  -531px; }
.icon-c419::before { background-position:    1px  -569px; }
.icon-c420::before { background-position:  -37px  -569px; }
.icon-c421::before { background-position:  -75px  -569px; }
.icon-c422::before { background-position: -113px  -569px; }
.icon-c423::before { background-position: -151px  -569px; }
.icon-c424::before { background-position: -189px  -569px; }
.icon-c425::before { background-position: -227px  -569px; }
.icon-c426::before { background-position: -265px  -569px; }
.icon-c427::before { background-position: -303px  -569px; }
.icon-c428::before { background-position: -341px  -569px; }
.icon-c429::before { background-position: -379px  -569px; }
.icon-c430::before { background-position: -417px  -569px; }
.icon-c431::before { background-position: -455px  -569px; }
.icon-c432::before { background-position: -493px  -569px; }
.icon-c433::before { background-position: -531px  -569px; }
.icon-c434::before { background-position: -569px  -569px; }
.icon-c435::before { background-position: -607px  -569px; }
.icon-c436::before { background-position: -645px  -569px; }
.icon-c437::before { background-position: -683px  -569px; }
.icon-c438::before { background-position: -721px  -569px; }
.icon-c439::before { background-position: -759px  -569px; }
.icon-c440::before { background-position: -797px  -569px; }
.icon-c441::before { background-position: -835px  -569px; }
.icon-c442::before { background-position: -835px  -569px; }
.icon-c443::before { background-position: -835px  -569px; }
.icon-c444::before { background-position: -873px  -569px; }
.icon-c445::before { background-position: -911px  -569px; }
.icon-c446::before { background-position: -949px  -569px; }
.icon-c447::before { background-position:    1px  -607px; }
.icon-c448::before { background-position:  -37px  -607px; }
.icon-c449::before { background-position:  -75px  -607px; }
.icon-c450::before { background-position: -113px  -607px; }
.icon-c451::before { background-position: -151px  -607px; }
.icon-c452::before { background-position: -189px  -607px; }
.icon-c453::before { background-position: -227px  -607px; }
.icon-c454::before { background-position: -265px  -607px; }
.icon-c455::before { background-position: -303px  -607px; }
.icon-c456::before { background-position: -341px  -607px; }
.icon-c457::before { background-position: -379px  -607px; }
.icon-c458::before { background-position: -417px  -607px; }
.icon-c459::before { background-position: -455px  -607px; }
.icon-c460::before { background-position: -493px  -607px; }
.icon-c461::before { background-position: -531px  -607px; }
.icon-c462::before { background-position: -569px  -607px; }
.icon-c463::before { background-position: -607px  -607px; }
.icon-c464::before { background-position: -645px  -607px; }
.icon-c465::before { background-position: -683px  -607px; }
.icon-c466::before { background-position: -721px  -607px; }
.icon-c467::before { background-position: -759px  -607px; }
.icon-c468::before { background-position: -797px  -607px; }
.icon-c469::before { background-position: -835px  -607px; }
.icon-c470::before { background-position: -873px  -607px; }
.icon-c471::before { background-position: -911px  -607px; }
.icon-c472::before { background-position: -949px  -607px; }
.icon-c473::before { background-position:    1px  -645px; }
.icon-c474::before { background-position:  -37px  -645px; }
.icon-c475::before { background-position:  -75px  -645px; }
.icon-c476::before { background-position: -607px -1063px; }
.icon-c477::before { background-position: -113px  -645px; }
.icon-c478::before { background-position: -151px  -645px; }
.icon-c479::before { background-position: -189px  -645px; }
.icon-c480::before { background-position: -645px -1063px; }
.icon-c481::before { background-position: -227px  -645px; }
.icon-c482::before { background-position: -265px  -645px; }
.icon-c483::before { background-position: -303px  -645px; }
.icon-c484::before { background-position: -341px  -645px; }
.icon-c485::before { background-position: -379px  -645px; }
.icon-c486::before { background-position: -417px  -645px; }
.icon-c487::before { background-position: -455px  -645px; }
.icon-c488::before { background-position: -493px  -645px; }
.icon-c489::before { background-position: -531px  -645px; }
.icon-c490::before { background-position: -569px  -645px; }
.icon-c491::before { background-position: -607px  -645px; }
.icon-c492::before { background-position: -645px  -645px; }
.icon-c493::before { background-position: -683px -1063px; }
.icon-c494::before { background-position: -683px  -645px; }
.icon-c495::before { background-position: -721px  -645px; }
.icon-c496::before { background-position: -759px  -645px; }
.icon-c497::before { background-position: -797px  -645px; }
.icon-c498::before { background-position: -835px  -645px; }
.icon-c499::before { background-position: -873px  -645px; }
.icon-c500::before { background-position: -911px  -645px; }
.icon-c501::before { background-position: -949px  -645px; }
.icon-c502::before { background-position:    1px  -683px; }
.icon-c503::before { background-position:  -37px  -683px; }
.icon-c504::before { background-position:  -75px  -683px; }
.icon-c505::before { background-position: -113px  -683px; }
.icon-c506::before { background-position: -151px  -683px; }
.icon-c507::before { background-position: -189px  -683px; }
.icon-c508::before { background-position: -227px  -683px; }
.icon-c509::before { background-position: -265px  -683px; }
.icon-c510::before { background-position: -303px  -683px; }
.icon-c511::before { background-position: -341px  -683px; }
.icon-c512::before { background-position: -379px  -683px; }
.icon-c513::before { background-position: -379px  -683px; }
.icon-c514::before { background-position: -379px  -683px; }
.icon-c515::before { background-position: -379px  -683px; }
.icon-c516::before { background-position: -379px  -683px; }
.icon-c517::before { background-position: -379px  -683px; }
.icon-c518::before { background-position: -417px  -683px; }
.icon-c519::before { background-position: -455px  -683px; }
.icon-c520::before { background-position: -493px  -683px; }
.icon-c521::before { background-position: -531px  -683px; }
.icon-c522::before { background-position: -569px  -683px; }
.icon-c523::before { background-position: -607px  -683px; }
.icon-c524::before { background-position: -645px  -683px; }
.icon-c525::before { background-position: -683px  -683px; }
.icon-c526::before { background-position: -683px  -683px; }
.icon-c527::before { background-position: -721px  -683px; }
.icon-c528::before { background-position: -759px  -683px; }
.icon-c529::before { background-position: -797px  -683px; }
.icon-c530::before { background-position: -835px  -683px; }
.icon-c531::before { background-position: -873px  -683px; }
.icon-c532::before { background-position: -873px  -683px; }
.icon-c533::before { background-position: -911px  -683px; }
.icon-c534::before { background-position: -949px  -683px; }
.icon-c535::before { background-position:    1px  -721px; }
.icon-c536::before { background-position:  -37px  -721px; }
.icon-c537::before { background-position:  -75px  -721px; }
.icon-c538::before { background-position: -113px  -721px; }
.icon-c539::before { background-position: -151px  -721px; }
.icon-c540::before { background-position: -189px  -721px; }
.icon-c541::before { background-position: -227px  -721px; }
.icon-c542::before { background-position: -265px  -721px; }
.icon-c543::before { background-position: -303px  -721px; }
.icon-c544::before { background-position: -341px  -721px; }
.icon-c545::before { background-position: -379px  -721px; }
.icon-c546::before { background-position: -417px  -721px; }
.icon-c547::before { background-position: -455px  -721px; }
.icon-c548::before { background-position: -493px  -721px; }
.icon-c549::before { background-position: -531px  -721px; }
.icon-c550::before { background-position: -569px  -721px; }
.icon-c551::before { background-position: -607px  -721px; }
.icon-c552::before { background-position: -645px  -721px; }
.icon-c553::before { background-position: -683px  -721px; }
.icon-c554::before { background-position: -721px  -721px; }
.icon-c555::before { background-position: -759px  -721px; }
.icon-c556::before { background-position: -797px  -721px; }
.icon-c557::before { background-position: -835px  -721px; }
.icon-c558::before { background-position: -873px  -721px; }
.icon-c559::before { background-position: -911px  -721px; }
.icon-c560::before { background-position: -949px  -721px; }
.icon-c561::before { background-position:    1px  -759px; }
.icon-c562::before { background-position:  -37px  -759px; }
.icon-c563::before { background-position:  -75px  -759px; }
.icon-c564::before { background-position: -113px  -759px; }
.icon-c565::before { background-position: -151px  -759px; }
.icon-c566::before { background-position: -189px  -759px; }
.icon-c567::before { background-position: -227px  -759px; }
.icon-c568::before { background-position: -265px  -759px; }
.icon-c569::before { background-position: -303px  -759px; }
.icon-c570::before { background-position: -341px  -759px; }
.icon-c571::before { background-position: -379px  -759px; }
.icon-c572::before { background-position: -417px  -759px; }
.icon-c573::before { background-position: -455px  -759px; }
.icon-c574::before { background-position: -493px  -759px; }
.icon-c575::before { background-position: -531px  -759px; }
.icon-c576::before { background-position: -569px  -759px; }
.icon-c577::before { background-position: -607px  -759px; }
.icon-c578::before { background-position: -645px  -759px; }
.icon-c579::before { background-position: -683px  -759px; }
.icon-c580::before { background-position: -721px  -759px; }
.icon-c581::before { background-position: -759px  -759px; }
.icon-c582::before { background-position: -797px  -759px; }
.icon-c583::before { background-position: -835px  -759px; }
.icon-c584::before { background-position: -873px  -759px; }
.icon-c585::before { background-position: -911px  -759px; }
.icon-c586::before { background-position: -949px  -759px; }
.icon-c587::before { background-position:    1px  -797px; }
.icon-c588::before { background-position:  -37px  -797px; }
.icon-c589::before { background-position:  -75px  -797px; }
.icon-c590::before { background-position: -113px  -797px; }
.icon-c591::before { background-position: -151px  -797px; }
.icon-c592::before { background-position: -189px  -797px; }
.icon-c593::before { background-position: -227px  -797px; }
.icon-c594::before { background-position: -265px  -797px; }
.icon-c595::before { background-position: -303px  -797px; }
.icon-c596::before { background-position: -303px  -797px; }
.icon-c597::before { background-position: -341px  -797px; }
.icon-c598::before { background-position: -379px  -797px; }
.icon-c599::before { background-position: -417px  -797px; }
.icon-c600::before { background-position: -455px  -797px; }
.icon-c601::before { background-position: -493px  -797px; }
.icon-c602::before { background-position: -531px  -797px; }
.icon-c603::before { background-position: -569px  -797px; }
.icon-c604::before { background-position: -607px  -797px; }
.icon-c605::before { background-position: -645px  -797px; }
.icon-c606::before { background-position: -683px  -797px; }
.icon-c607::before { background-position: -721px  -797px; }
.icon-c608::before { background-position: -759px  -797px; }
.icon-c609::before { background-position: -797px  -797px; }
.icon-c610::before { background-position: -835px  -797px; }
.icon-c611::before { background-position: -873px  -797px; }
.icon-c612::before { background-position: -911px  -797px; }
.icon-c613::before { background-position: -949px  -797px; }
.icon-c614::before { background-position:    1px  -835px; }
.icon-c615::before { background-position:  -37px  -835px; }
.icon-c616::before { background-position:  -75px  -835px; }
.icon-c617::before { background-position: -113px  -835px; }
.icon-c618::before { background-position: -151px  -835px; }
.icon-c619::before { background-position: -189px  -835px; }
.icon-c620::before { background-position: -227px  -835px; }
.icon-c621::before { background-position: -265px  -835px; }
.icon-c622::before { background-position: -303px  -835px; }
.icon-c623::before { background-position: -341px  -835px; }
.icon-c624::before { background-position: -379px  -835px; }
.icon-c625::before { background-position: -417px  -835px; }
.icon-c626::before { background-position: -455px  -835px; }
.icon-c627::before { background-position: -493px  -835px; }
.icon-c628::before { background-position: -531px  -835px; }
.icon-c629::before { background-position: -569px  -835px; }
.icon-c630::before { background-position: -607px  -835px; }
.icon-c631::before { background-position: -645px  -835px; }
.icon-c632::before { background-position: -683px  -835px; }
.icon-c633::before { background-position: -721px  -835px; }
.icon-c634::before { background-position: -759px  -835px; }
.icon-c635::before { background-position: -797px  -835px; }
.icon-c636::before { background-position: -835px  -835px; }
.icon-c637::before { background-position: -873px  -835px; }
.icon-c638::before { background-position: -911px  -835px; }
.icon-c639::before { background-position: -949px  -835px; }
.icon-c640::before { background-position:    1px  -873px; }
.icon-c641::before { background-position:  -37px  -873px; }
.icon-c642::before { background-position:  -75px  -873px; }
.icon-c643::before { background-position: -113px  -873px; }
.icon-c644::before { background-position: -151px  -873px; }
.icon-c645::before { background-position: -189px  -873px; }
.icon-c646::before { background-position: -227px  -873px; }
.icon-c647::before { background-position: -265px  -873px; }
.icon-c648::before { background-position: -303px  -873px; }
.icon-c649::before { background-position: -341px  -873px; }
.icon-c650::before { background-position: -379px  -873px; }
.icon-c651::before { background-position: -417px  -873px; }
.icon-c652::before { background-position: -455px  -873px; }
.icon-c653::before { background-position: -493px  -873px; }
.icon-c654::before { background-position: -531px  -873px; }
.icon-c655::before { background-position: -569px  -873px; }
.icon-c656::before { background-position: -607px  -873px; }
.icon-c657::before { background-position: -645px  -873px; }
.icon-c658::before { background-position: -683px  -873px; }
.icon-c659::before { background-position: -721px  -873px; }
.icon-c660::before { background-position: -759px  -873px; }
.icon-c661::before { background-position: -797px  -873px; }
.icon-c662::before { background-position: -835px  -873px; }
.icon-c663::before { background-position: -873px  -873px; }
.icon-c664::before { background-position: -911px  -873px; }
.icon-c665::before { background-position: -949px  -873px; }
.icon-c666::before { background-position:    1px  -911px; }
.icon-c667::before { background-position:  -37px  -911px; }
.icon-c668::before { background-position:  -75px  -911px; }
.icon-c669::before { background-position: -113px  -911px; }
.icon-c670::before { background-position: -151px  -911px; }
.icon-c671::before { background-position: -189px  -911px; }
.icon-c672::before { background-position: -227px  -911px; }
.icon-c673::before { background-position: -265px  -911px; }
.icon-c674::before { background-position: -303px  -911px; }
.icon-c675::before { background-position: -341px  -911px; }
.icon-c676::before { background-position: -379px  -911px; }
.icon-c677::before { background-position: -417px  -911px; }
.icon-c678::before { background-position: -455px  -911px; }
.icon-c679::before { background-position: -493px  -911px; }
.icon-c680::before { background-position: -531px  -911px; }
.icon-c681::before { background-position: -569px  -911px; }
.icon-c682::before { background-position: -607px  -911px; }
.icon-c683::before { background-position: -607px  -911px; }
.icon-c684::before { background-position: -645px  -911px; }
.icon-c685::before { background-position: -645px  -911px; }
.icon-c686::before { background-position: -683px  -911px; }
.icon-c687::before { background-position: -721px  -911px; }
.icon-c688::before { background-position: -759px  -911px; }
.icon-c689::before { background-position: -759px  -911px; }
.icon-c690::before { background-position: -797px  -911px; }
.icon-c691::before { background-position: -797px  -911px; }
.icon-c692::before { background-position: -797px  -911px; }
.icon-c693::before { background-position: -835px  -911px; }
.icon-c694::before { background-position: -835px  -911px; }
.icon-c695::before { background-position: -873px  -911px; }
.icon-c696::before { background-position: -873px  -911px; }
.icon-c697::before { background-position: -911px  -911px; }
.icon-c698::before { background-position: -949px  -911px; }
.icon-c699::before { background-position:    1px  -949px; }
.icon-c700::before { background-position:  -37px  -949px; }
.icon-c701::before { background-position:  -75px  -949px; }
.icon-c702::before { background-position: -113px  -949px; }
.icon-c703::before { background-position: -151px  -949px; }
.icon-c704::before { background-position: -189px  -949px; }
.icon-c705::before { background-position: -227px  -949px; }
.icon-c706::before { background-position: -265px  -949px; }
.icon-c707::before { background-position: -303px  -949px; }
.icon-c708::before { background-position: -341px  -949px; }
.icon-c709::before { background-position: -379px  -949px; }
.icon-c710::before { background-position: -417px  -949px; }
.icon-c711::before { background-position: -455px  -949px; }
.icon-c712::before { background-position: -493px  -949px; }
.icon-c713::before { background-position: -531px  -949px; }
.icon-c714::before { background-position: -569px  -949px; }
.icon-c715::before { background-position: -607px  -949px; }
.icon-c716::before { background-position: -645px  -949px; }
.icon-c717::before { background-position: -683px  -949px; }
.icon-c718::before { background-position: -721px  -949px; }
.icon-c719::before { background-position: -759px  -949px; }
.icon-c720::before { background-position: -797px  -949px; }
.icon-c721::before { background-position: -835px  -949px; }
.icon-c722::before { background-position: -873px  -949px; }
.icon-c723::before { background-position: -911px  -949px; }
.icon-c724::before { background-position: -949px  -949px; }





.icon-c725::before { background-position: -379px     1px; }
.icon-c726::before { background-position: -417px     1px; }
.icon-c727::before { background-position: -455px     1px; }
.icon-c728::before { background-position: -493px     1px; }
.icon-c729::before { background-position: -531px     1px; }
.icon-c730::before { background-position: -569px     1px; }
.icon-c731::before { background-position: -607px     1px; }
.icon-c732::before { background-position: -645px     1px; }
.icon-c733::before { background-position: -683px     1px; }
.icon-c734::before { background-position: -721px     1px; }
.icon-c735::before { background-position: -759px     1px; }
.icon-c736::before { background-position: -797px     1px; }
.icon-c737::before { background-position: -835px     1px; }
.icon-c738::before { background-position: -873px     1px; }
.icon-c739::before { background-position: -911px     1px; }
.icon-c740::before { background-position: -949px     1px; }
.icon-c741::before { background-position:    1px     1px; }
.icon-c742::before { background-position:  -37px     1px; }
.icon-c743::before { background-position:  -75px     1px; }
.icon-c744::before { background-position: -113px     1px; }
.icon-c745::before { background-position: -151px     1px; }
.icon-c746::before { background-position: -189px     1px; }
.icon-c747::before { background-position: -227px     1px; }
.icon-c748::before { background-position: -265px     1px; }
.icon-c749::before { background-position: -303px     1px; }
.icon-c750::before { background-position: -341px     1px; }
.icon-c751::before { background-position: -379px     1px; }
.icon-c752::before { background-position: -417px     1px; }
.icon-c753::before { background-position: -455px -1025px; }
.icon-c754::before { background-position: -493px -1025px; }
.icon-c755::before { background-position: -531px -1025px; }
.icon-c756::before { background-position: -569px -1025px; }
.icon-c757::before { background-position: -607px -1025px; }
.icon-c758::before { background-position: -645px -1025px; }
.icon-c759::before { background-position: -683px -1025px; }
.icon-c760::before { background-position: -721px -1025px; }
.icon-c761::before { background-position: -759px -1025px; }
.icon-c762::before { background-position: -797px -1025px; }
.icon-c763::before { background-position: -835px -1025px; }
.icon-c764::before { background-position: -873px -1025px; }
.icon-c765::before { background-position: -911px -1025px; }
.icon-c766::before { background-position: -949px -1025px; }
.icon-c767::before { background-position: -303px -1025px; }
.icon-c768::before { background-position: -341px -1025px; }
.icon-c769::before { background-position: -379px -1025px; }
.icon-c770::before { background-position: -417px -1025px; }
.icon-c771::before { background-position: -455px -1025px; }
.icon-c772::before { background-position: -493px -1025px; }
.icon-c773::before { background-position: -531px -1025px; }
.icon-c774::before { background-position: -569px -1025px; }
