.m-type-normal   { background-color: #B7B2AC; }
.m-type-grass    { background-color: #7BBB5B; }
.m-type-fire     { background-color: #FF5D48; }
.m-type-water    { background-color: #459EFC; }
.m-type-fighting { background-color: #BF674F; }
.m-type-flying   { background-color: #6C9CF1; }
.m-type-poison   { background-color: #B4679B; }
.m-type-ground   { background-color: #E2BB5C; }
.m-type-rock     { background-color: #C6AE70; }
.m-type-bug      { background-color: #B3BD43; }
.m-type-ghost    { background-color: #797BC6; }
.m-type-electric { background-color: #FFCE57; }
.m-type-psychic  { background-color: #F977A3; }
.m-type-ice      { background-color: #7CD2F3; }
.m-type-dragon   { background-color: #867DEA; }
.m-type-dark     { background-color: #8F6A57; }
.m-type-steel    { background-color: #B7B5C2; }
.m-type-fairy    { background-color: #EDAEE3; }