@import "compass";
@import "_normalize.scss";
@import "_settings.scss";
@import "_icon.scss";
@import "_type.scss";


/*+
 * Reset
 ****************************************************/
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*+
 * Modules
 ****************************************************/
.anchor-txt {
  color: $color2;
  @include transition(color .5s ease);

  &:hover {
    color: $color5;
  }
}

.anchor-btn {
  display: block;
  text-align: center;
  text-decoration: none;
  margin: sitePx(1);
  color: $color2;
  background-color: $color5;
  @include vJustify(sitePx(5));
  @include border-radius(sitePx(1 / 4));
}

.box {
  @include display-box;
}

.flex {
  @include box-flex(1);
}

.monster-type {
  display: inline-block;
  color: $color2;
  font-size: .7rem;
  padding: sitePx(1 / 4);
  width: sitePx(7);
  text-align: center;
  @include border-radius(sitePx(1 / 2));
}
/*+
 * Stylings
 ****************************************************/

// Common
.view-header {
  background-color: $color1;
  color: $color2;
  text-align: center;
  @include vJustify(sitePx(4));
}

.view-footer {
  background-color: $color4;
  color: $color2;
  text-align: center;
  @include vJustify(sitePx(4));
  font-size: .8rem;
}


// Index
.view-index {
  .monster-list {
    > li {
      a {
        position: relative;
        display: block;
        padding-left: sitePx(7);
        @include vJustify(sitePx(7));
        
        &::before {
          @extend %monster-icon;
          top: 50%;
          margin-top: -#{sitePx(5 / 2)};
          left: sitePx(1);
        }
      }
      
      & + li {
        border-top: 1px solid $color3;
      }
    }
  }
}


// Detail
.view-detail {
  > section {
    @extend %content-base;
  }
  
  h2, h3, h4, h5, h6 {
    color: $color4;
  }

  .monster-index-wrap {
    .monster-icon {
      width: sitePx(5);
      height: sitePx(5);
      margin-right: sitePx(1);

      &::before {
        @extend %monster-icon;
      }

    }
    .monster-index {
      @include vJustify(sitePx(5 / 2));
    }
  }
  
  .base-stats {
    > li {
      position: relative;
      background-color: $color3;
      margin-bottom: sitePx(1 /2);

      > div {
        background-color: $color5;
        height: sitePx(3);
        @include border-radius(0 sitePx(1 / 4) sitePx(1 / 4) 0);
        
        &::before {
          position: absolute;
          content: attr(data-label);
          top: 50%;
          right: sitePx(1);
          margin-top: -#{sitePx(3 / 2)};
          font-size: .8rem;
          color: $color4;
          @include text-shadow(1px 0 $color2, 0 1px $color2, -1px 0 $color2, 0 -1px $color2);
          @include vJustify(sitePx(3));
        }
      }
    }
  }
  
  .monster-type { margin-right: sitePx(1 / 4); }
  
  .type-charts {
    > li {
      margin-bottom: sitePx(1 / 2);

      .label {
        text-align: center;
        width: sitePx(5);
        
        &.small {
          text-align: left;
          font-size: .9rem;
        }
        
        & + div {
          padding-left: sitePx(1);
          border-left: 1px solid $color3;
          @include box-sizing(border-box);
        }
      }
    }
  }
  
  .abilities {
    .desc {
      font-size: .9rem;
      display: none;
      
      &.js-active {
        display: block;
      }
    }
  }

}