@import "compass";
@import "_normalize.scss";
@import "_settings.scss";
@import "_icon.scss";
@import "_type.scss";


/*+
 * Reset
 ****************************************************/
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*+
 * Modules
 ****************************************************/
.anchor-txt {
  color: $color5;
  @include transition(color .5s ease);
}

.anchor-btn {
  display: block;
  text-align: center;
  text-decoration: none;
  margin: #{sitePx(1)}px;
  color: $color2;
  background-color: $color5;
  @include vJustify(#{sitePx(5)}px);
  @include border-radius(#{sitePx(1 / 4)}px);
  
  &.m-no-margin {
    margin: 0;
  }
  
  &.m-btn-sub {
    color: $color4;
    background-color: $color3;
  }
}

.texts {
  font-size: .8rem;
}

.box {
  @include display-box;
}

.flex {
  @include box-flex(1);
}

.monster-type {
  display: inline-block;
  color: $color2;
  font-size: .7rem;
  padding: #{sitePx(1 / 4)}px;
  width: #{sitePx(7)}px;
  text-align: center;
  @include border-radius(#{sitePx(1 / 2)}px);
}
/*+
 * Stylings
 ****************************************************/

// Common
.l-view-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: $color1;
  color: $color2;
  text-align: center;
  @include vJustify(#{sitePx(4)}px);
}
.l-view-content {
  padding: #{sitePx(4)}px 0;
  z-index: 1;

  // このdivが各View
  > div {
    > section {
      @extend %content-base;
    }
  
    h2, h3, h4, h5, h6 {
      color: $color4;
    }
  }
}
.l-view-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: $color4;
  color: $color2;
  text-align: center;
  @include vJustify(#{sitePx(4)}px);
  font-size: .8rem;
  
  .anchor-txt { color: $color2; }
}

.l-loading-layer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background-color: rgba($color3, .5);
  display: none;
  
  &::after {
    position: absolute;
    content: "";
    width: 220px;
    height: 19px;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -110px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: inline-image("/img/loading.gif");
  }
  
  &.is-shown { display: block; }
}

// Index
.l-category-list {
  text-align: center;

  > li {
    display: inline-block;
    width: 20%;
    
    a {
      margin: #{sitePx(1 / 4)}px;
      
    }
  }
}

// List
.view-list {
  .monster-list {
    > li {
      a {
        position: relative;
        display: block;
        padding-left: #{sitePx(7)}px;
        @include vJustify(#{sitePx(7)}px);

        &::before {
          @extend %monster-icon;
          top: 50%;
          margin-top: -#{sitePx(5 / 2)}px;
          left: #{sitePx(1)}px;
        }
      }

      & + li {
        border-top: 1px solid $color3;
      }
    }
  }
}


// Detail
.view-detail {
  .monster-index-wrap {
    .monster-icon {
      width: #{sitePx(5)}px;
      height: #{sitePx(5)}px;
      margin-right: #{sitePx(1)}px;

      &::before {
        @extend %monster-icon;
      }
    }
    .monster-index {
      @include vJustify(#{sitePx(5 / 2)}px);
    }
  }

  .base-stats {
    > li {
      position: relative;
      background-color: $color3;
      margin-bottom: #{sitePx(1 /2)}px;

      > div {
        background-color: $color5;
        height: #{sitePx(3)}px;
        @include border-radius(0 #{sitePx(1 / 4)}px #{sitePx(1 / 4)}px 0);

        &::before {
          position: absolute;
          content: attr(data-label);
          top: 50%;
          left: #{sitePx(1)}px;
          margin-top: -#{sitePx(3 / 2)}px;
          font-size: .8rem;
          color: $color4;
          @include text-shadow(1px 0 $color2, 0 1px $color2, -1px 0 $color2, 0 -1px $color2);
          @include vJustify(#{sitePx(3)}px);
        }
      }
    }
  }

  .monster-type { margin-right: #{sitePx(1 / 4)}px; }

  .type-charts {
    > li {
      margin-bottom: #{sitePx(1 / 2)}px;

      .label {
        text-align: center;
        width: #{sitePx(5)}px;

        &.small {
          text-align: left;
          font-size: .9rem;
        }

        & + div {
          padding-left: #{sitePx(1)}px;
          border-left: 1px solid $color3;
          @include box-sizing(border-box);
        }
      }
    }
  }
}
