@import "compass";
@import "_normalize.scss";
@import "_icon.scss";

/*+
 * Settings
 ****************************************************/
$color1: #165e83; // メインの紺
$color2: #fff;    // ベースの白
$color3: #eee;    // ベース補助の薄いグレー
$color4: #354753; // 裏メインの濃いグレー
$color5: #0094c8; // アクセントの青

@function sitePx($lv: 1) {
  $basePx: 8;
  @return #{8 * $lv}px;
}

@mixin vJustify($height, $l-height: false) {
  height: $height;
  @if ($l-height) {
    line-height: $l-height;
  } @else {
    line-height: $height;
  }
}

/*+
 * Modules
 ****************************************************/
.anchor-txt {
  color: $color2;
  @include transition(color .5s ease);

  &:hover {
    color: $color5;
  }
}

/*+
 * Stylings
 ****************************************************/
.view-header {
  background-color: $color1;
  color: $color2;
  text-align: center;
  @include vJustify(sitePx(4));
}

.view-index {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      a {
        position: relative;
        display: block;
        padding-left: sitePx(7);
        @include vJustify(sitePx(7));
        
        &::before {
          position: absolute;
          content: "";
          width: sitePx(5);
          height: sitePx(5);
          top: 50%;
          margin-top: -#{sitePx(5 / 2)};
          left: sitePx(1);
          background-image: url(/img/poke-sprites.png);
          background-repeat: no-repeat;
        }
      }
      
      & + li {
        border-top: 1px solid $color3;
      }
    }
  }
}

.view-detail {}

.view-footer {
  background-color: $color4;
  color: $color2;
  text-align: center;
  @include vJustify(sitePx(4));
  font-size: .8rem;
}

